.nav-tabs {
	background: #fff;
	display: flex;
	flex-direction: row;
	position: relative;
	@apply rounded-xl p-1 border border-black border-opacity-10 bg-gray-50;
	@apply dark:bg-opacity-20;

	.tabs__tab {
		display: inline-block;
		@apply rounded-lg px-2 py-1 transition-colors;
		
		.tabs__label {
			@apply text-gray-400 transition-colors cursor-pointer;
		}
		
		.tabs__input {
			appearance: none;
			width: 1px;
			height: 1px;
			position: absolute;
			opacity: 0;
		}

		&.--active {
			@apply bg-main-500;

			.tabs__label {
				@apply text-white;
			}
		}
	}
}
